<a href="https://colab.research.google.com/github/Lokeshdawkare/Data_Structure_and_Algorithm/blob/main/Python_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# what is a list how to create it?

In [ ]:
integers=[1,2,3,4]
print(integers)

stringlist =['Milk','cheese','Butter']
print(stringlist)

mixelist=[1,1.5,'spam']
print(mixelist)

mixelist=[1,2,3,4,5,[1.5,6.4],["test"]]
print(mixelist)

empty=[]
print(empty)

[1, 2, 3, 4]
['Milk', 'cheese', 'Butter']
[1, 1.5, 'spam']
[1, 2, 3, 4, 5, [1.5, 6.4], ['test']]
[]

#Access elements of the list and traversing

In [ ]:
shoppingList = ['Milk','Cheese','Butter']
print(shoppingList[-1]) # Changed shoppinglist to shoppingLi
# if we give negetive index such a -1 it will acces from the backward

# in operator for finding the element in the list
print('Milk'in shoppingList)

# if element is present in the list then it will give true and if not it will give false
print('egg'in shoppingList)

Butter
True
False

In [ ]:
"""for i in range(len(Shoppinglist)):
  Shoppinglist[i]=Shoppinglist[i]+"+"
  print(Shoppinglist[i])"""
empty=[]
for i in empty:
  print("This is empty list")

In [ ]:
Shoppinglist=["milk","Protein","bread",1]
for i in Shoppinglist:
  print(i)

milk
Protein
bread
1

# Update and insert list

In [ ]:
mylist=[1,2,3,4,5,6,7]
print(mylist)

mylist[1]=0
print(mylist)

mylist.insert(2,100)
print(mylist)




# List methods
# insert() inserts an elements at a specified postion
mylist.insert(6,900)
print(mylist)
# append ()Adds a single elements to the end of the list
mylist.append(78)
print(mylist)
# extend()  Extends the list by adding all elemtns from another iterable
mylist.extend([60,78,45])
print(mylist)

[1, 2, 3, 4, 5, 6, 7]
[1, 0, 3, 4, 5, 6, 7]
[1, 0, 100, 3, 4, 5, 6, 7]
[1, 0, 100, 3, 4, 5, 900, 6, 7]
[1, 0, 100, 3, 4, 5, 900, 6, 7, 78]
[1, 0, 100, 3, 4, 5, 900, 6, 7, 78, 60, 78, 45]

# Slice and delete from the operations

In [ ]:
#sequence[start : stop : step]
mylist=['a','b','c','d','e','f','g']
print(mylist[0:3])
print(mylist[:3])
print(mylist[2:])
print(mylist[::2])
print(mylist[: :-1]) # this is for reversing the list

['a', 'b', 'c']
['a', 'b', 'c']
['c', 'd', 'e', 'f', 'g']
['a', 'c', 'e', 'g']
['g', 'f', 'e', 'd', 'c', 'b', 'a']

# List methods are deletion
# pop() delete () remove ()

In [ ]:
mylist=['a','lokesh','apple','gulab' ,'jammun']

# Removes and returns an element by index (defaut=last)
mylist.pop()
print(mylist)

mylist.pop(0)
print(mylist)

# deletes a specific element by index
# can also delete slices or the entire list
del mylist[0]
print(mylist)

# Delets the first ocurrence of a specified value
# raises an error if the value isn't found
mylist.remove('apple')
print(mylist)

['a', 'lokesh', 'apple', 'gulab']
['lokesh', 'apple', 'gulab']
['apple', 'gulab']
['gulab']

# Searching for the element in the list

In [ ]:
#Searching the element without the loop and if else
mylist=[1,3,5,80,70,40,90,30,100,500]
target=int(input("enter the number to check the numerber to check"))
if target in mylist:
  print(f"{target} is at index {mylist.index(target)}")
else:
  print(f"{target} is not in the list")







#Searching the element with linear searching

mylist = [10,20,30,40,50,60 ,70, 80,45,98,15,4]
target=int(input("enter the number to check the number in the list:)"))
def linearsearching(array,target):
  for i in range(len(mylist)):
    if mylist[i]==target:
      return f"{target} is present at index :{array.index(target)}"
  return f"{target} is not preset in the list"
print(linearsearching(mylist,target))

enter the number to check the numerber to check80
80 is at index 3
enter the number to check the number in the list:)80
80 is present at index :7

# List operations and functions

In [ ]:
# plus operator concatenation

a=[1,2,3]
b=[4,5,6,7]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# * repetation elements in a list
a=[0,1]
a=a*4
print(a)

[0, 1, 0, 1, 0, 1, 0, 1]

In [ ]:
# check if an element if present 3 in [1,2,4]
if 3 in [1,2,3,4,5,6]:
  print("yes")
else:
  print("Nop")

yes

In [ ]:
# check if an element if not in the list
if 3 not in (1,2,3,4,4,5,5,65,6,6,):
  print("yes")
else:
  print('no')

no

In [ ]:
a=[0,1,2,3,4,5,6,6,7,7,8,8,9,10,20]
print(len(a))

print(max(a))
print(min(a))
print(sum(a))

15
20
0
96

In [ ]:
mylist = []  # 'from itertools import count' removed (not needed)
total = 0     # Initialize total
count = 0     # Initialize count

while True:  # Corrected 'while' syntax
    inp = input("enter a number: ")
    if inp == "done":
        break
    value = float(inp)  # Fixed indentation
    total = total + value  # Corrected 'Value' to 'value'
    count = count + 1      # Fixed indentation

av = total / count if count != 0 else 0  # Avoid division by zero
print("Average:", av)

enter a number: 343333
enter a number: 233
enter a number: 5433
enter a number: 34333
enter a number: 333
enter a number: 6767
enter a number: 90
enter a number: 8987
enter a number: 567
enter a number: 123
enter a number: 678
enter a number: 345
enter a number: done
Average: 33435.166666666664

# Strings and Lists

In [ ]:
a='spam'
b=list(a)
print(b)

['s', 'p', 'a', 'm']

In [ ]:
a="mynameisbatatalokeshdawkarebatatailiveinindia"
delimiter ="batata"
b=a.split(delimiter)
print(b)
print(delimiter.join(b))

['mynameis', 'lokeshdawkare', 'iliveinindia']
mynameisbatatalokeshdawkarebatatailiveinindia

#Common list pitfalls and ways to avoid them

In [ ]:
mylist=[2,4,3,1,5,7] #this line is the corrected version.
orig=mylist[:]

print(orig)

mylist.sort()
print(mylist)


mylist.append(10)
print(mylist)

[2, 4, 3, 1, 5, 7]
[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7, 10]

# Array vs list

In [ ]:
# Similarities

# Both data structures are mutable
# Both can be indexed and iterated through
# they can be both sliced


import numpy as np
myarray=np.array([1,2,3,4,5,6])
mylist=[1,2,3,4,5,6]


print(myarray/2)

# List comprehension is a concise way to create lists in Python using a single line of code. It simplifies traditional loops and is often used for creating, filtering, or transforming data.

# expression for item in iterable if condition
Expression: Operation to perform on each item.
Iterable: The collection (like a list, tuple, etc.) you are iterating over.
Condition (Optional): Filters items based on a condition.

In [ ]:
Prev_list = [1,2,3]
new_list=[]
for i in Prev_list:
  multiply_2=i*2
  new_list.append(multiply_2)
  print(new_list)

[2]
[2, 4]
[2, 4, 6]

In [ ]:
square=[x**2 for x in [1,2,3,4,4,5,56,6,67,7,7,78,8]]
print(square)
"creating the list"

[1, 4, 9, 16, 16, 25, 3136, 36, 4489, 49, 49, 6084, 64]

'creating the list'

In [ ]:
previous_list=[1,2,3,4,5]
new_list=[]
for i in previous_list:
  multiply_2=i*2
  new_list.append(multiply_2)

In [ ]:

evennumber=[x for x in range(100) if x%2==0]
print(evennumber)
"filtering the elements"

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[0, 2, 4, 6, 8]

In [ ]:
new_list
new_list=[new_list for item in previous_list]

In [ ]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[-1:1:-1]
print(reversed_list)

[5, 4, 3]

In [ ]:
Pre_list=[-1,10,-20,2,90]
new_list=[number*number for number in Pre_list if number<0]
print(new_list)

sentence = "my name is lokesh_dawkare"
def is_consonant(letter):
  vowels="aeiou"
  return letter.isalpha() and letter.lower() not in vowels
consonants=[i for i in sentence if is_consonant(i)]
print(consonants)

[1, 400]
['m', 'y', 'n', 'm', 's', 'l', 'k', 's', 'h', 'd', 'w', 'k', 'r']